streamlit
streamlit-extras
google-generativeai
python-dotenv
PyPDF2
Pillow
pymupdf
requests
matplotlib
seaborn
wordcloud
nltk
scikit-learn
python-docx
pdfkit
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
